<div class="page-header">Comprar</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-4">
                {{adBuy.titulo}}
            </div>
            <div class="col-xs-2">
                {{adBuy['@type']}}
            </div>
            <div class="col-xs-3">
                {{adBuy.dataDeCriacao | date: 'dd/MM/yyyy'}}
            </div>
            <div class="col-xs-3">
                {{adBuy.preco | currency: 'R$ '}}
            </div>
        </div>
    </div>
</div>
<input type="datetime" class="form-control" ng-model="adBuy.dataDeExecucao" ng-show="adBuy['@type'] == 'servico'">
<button type="submit" class="btn btn-warning" ng-click="buy()">Comprar</button>