<form ng-submit="save()">
    <div class="page-header">
        <h3>Cadastrar anúncio</h3>
    </div>
    <div class="form-group">
        <label for="tituloAnuncio" class="control-label">Título</label>
        <input type="text" id="tituloAnuncio" placeholder="Titulo do anuncio" class="form-control" ng-model="ad.title" required>
    </div>

    <div class="form-group">
        <label for="precoAnuncio" class="control-label">Preço</label>
        <div class="input-group">
            <span class="input-group-addon">R$</span>
            <input type="number" min="0.01" step="0.01" id="precoAnuncio" placeholder="Preço" class="form-control" ng-model="ad.price" required>
        </div>
    </div>

    <div class="form-group">
        <label for="tipoAnuncio" class="control-label">Tipo</label>
        <select class="form-control" id="tipoAnuncio" ng-model="ad.type" ng-options="type as type for type in types"></select>
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="reset" class="btn btn-default">Limpar</button>
    </div>
</form>