<div class="page-header">
    <h3>Anúncios</h3>
</div>
<form class="form-inline" ng-submit="getAds()">
    <div class="row">
        <b class="col-xs-2">Filtrar por </b>
        <select class="form-control col-xs-2" ng-model="filter">
            <option value="date">Data</option>
            <option value="type">Tipo</option>
        </select>

        <div ng-show="filter == 'date'" class="col-xs-4">
            <div class="form-group">
                <label for="dateFromFilter">De</label>
                <input type="date" id="dateFromFilter" class="form-control" ng-model="date1">
            </div>
            <div class="form-group">
                <label for="dateToFilter">Até</label>
                <input type="date" id="dateToFilter" class="form-control" ng-model="date2">
            </div>
        </div>
        <div ng-show="filter == 'type'" class="col-xs-3">
            <select ng-model="type" class="form-control">
                <option ng-repeat="type in allTypes" value="{{type}}">{{type}}</option>
            </select>
        </div>
        <div class="col-xs-3">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<div ng-show="anuncios.length">
    <div ng-repeat="anuncio in anuncios">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4">
                        {{anuncio.titulo}}
                    </div>
                    <div class="col-xs-2">
                        {{anuncio['@type']}}
                    </div>
                    <div class="col-xs-3">
                        {{anuncio.dataDeCriacao | date: 'dd/MM/yyyy'}}
                    </div>
                    <div class="col-xs-3">
                        {{anuncio.preco | currency: 'R$ '}}
                    </div>
                </div>
                <br>
                <div align="right">
                    <button class="btn btn-info" type="button">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-hide="anuncios.length">
    <p>Não há anúncios cadastrados.</p>
</div>