<div class="page-header"><h3>Perfil</h3></div>

<p><b>Nome: </b>{{currentUser.nome}}</p>
<p><b>Email: </b>{{currentUser.email}}</p>
<p><b>Tipo: </b>Pessoa {{currentUser["@type"]}}</p>
<p><b>Saldo: </b>{{currentUser.financas.saldo | currency: 'R$ '}}</p>
<div>
    <a class="btn btn-warning" href="/extrato">Extrato</a>
</div>

<div class="divider"></div>

<h3>Meus anúncios</h3>

<div ng-show="currentUser.anuncios.length" class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th align="center" style="min-width: 200px">Titulo</th>
            <th align="center" width="100px">Preco</th>
            <th align="center" width="80px">Tipo</th>
            <th align="center" width="50px">Editar</th>
            <th align="center" width="50px">Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in currentUser.anuncios">
            <td>{{ad.titulo}}</td>
            <td>{{ad.preco | currency: 'R$ '}}</td>
            <td>{{ad['@type']}}</td>
            <td align="center"><a href="/anuncio/{{ad.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
            <td align="center"><a ng-click="removeAd(ad.id)"><span class="glyphicon glyphicon-remove"></span></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-hide="currentUser.anuncios.length">
    <p>Não há anúncios cadastrados.</p>
</div>