<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1 class="text-center"><i class="fa  fa-location-arrow"></i> 401</h1>
            <h2 class="text-center">Acesso não autorizado</h2>
            <p class="lead text-center">
                Desculpe, você não está autorizado a acessar a página que solicitou.
                Se você acha que isso é um engano, entre em contato conosco.
            </p>
            <br/>
            <a href="javascript:history.back()" class="btn btn-lg btn-primary center-block">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>
        </div>
    </div>
</div>